<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="nav_container">
            <ul class="nav">
              <li><a href="/new_player">New Game</a></li>
            </ul>
        </div>
      </div>
    </div>

<h1>Blackjack</h1>

<!-- <p>Welcome <%= session[:player_name].capitalize%>!</p> -->
<div class="message">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success"><%=@success%></div>
    <% end %>
</div>
<% if @play_again %>
  <p>
    <strong>Play again?</strong>
    <a href="/game" class="btn btn-primary">Yes</a>
    <a href="/game_over" class="btn">No</a>
  </p>
<% end %>
<div class="well">
  <h4>Dealer's cards:</h4>
  <% session[:dealer_cards].each_with_index do |card, i| %>
    <% if session[:turn] != "dealer" && i == 0 %>
      <img class="card_image" src="/images/cards/cover.jpg">
    <% else %>
    <%= display_card(card) %>
    <% end %>
  <% end %>
  <% if @dealer_button %>
  <h5 class="total">Dealer will hit. Total: <%= calculate_total(session[:dealer_cards]) %></h5>
    <form id="dealer_btn"action="/game/dealer/hit" method="post">
      <input type="submit" class="btn btn-primary" value="Click to see the next card ->">
    </form>
  <% end %>
  <% if @show_total == true %>
    <h5 class="total">Total: <%= calculate_total(session[:dealer_cards])%></h5>
  <% end %>
</div>

<div class="well">
  <h4><%=session[:player_name].capitalize%>'s cards:</h4>
  
    <% session[:player_cards].each do |card| %>
      <%= display_card(card) %>
    <% end %>
  <h5 class="total">Total: <%= calculate_total(session[:player_cards]) %></h5>
</div>
<p>
<% if @show_buttons %>
  What would <%= session[:player_name].capitalize%> like to do?
<% end %>
</p>

<% if @show_buttons %>
  <form id="hit" action="/game/player/hit" method="post">
    <input type="submit" value="Hit!" class="btn btn-success"/>
  </form>
  <form id="stay" action="/game/player/stay" method="post">
    <input type="submit" value="Stay" class="btn btn-danger"/>
  </form>
<% end %>